Reset and Global Styles


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.marquee {
  font-size: 20px;
  color: cyan;

}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url("weather-app-img/images/noaa-QRBe3Ithczs-unsplash.jpg");
  position: center;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-color: #cccccc;

  height: 100vh;
  margin: 0;
  /* background: #3d3d3d; */
  font-family: 'Arial', sans-serif;

}

.weather-app {

  /* background: linear-gradient(to bottom, #4facfe, #00f2fe); */
  background: linear-gradient(135deg, #00feba, #5b548a);

margin: auto;
margin-top: 60px auto;
  border-radius: 15px;
  text-align: center;
  width: 70vw;
  max-width: 400px;
  padding: 20px;
  /* height: 80vh; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;

  border-radius: 50px;
  height: 40px;
  width: auto;
  
}

.invalid {
  display: none;
  font-size: large;
  color: darkred;
}

.search-bar input {

  border: none;
  outline: none;
  /* background: transparent; */
  border-radius: 50px;
  margin-right: 15px;
  height: 40px;
  flex: 1;
  padding: 10px;
  /* font-size: 10px; */


}

.search-bar input::placeholder {
  font-size: 20px;
  /* Adjust size as needed */
  color: #000000;
}

.search-bar button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 13px;
  border: none;
  cursor: pointer;


}

.search-bar button:hover {
  transform: scale(1.05);
}

.search-bar button:active {
  transform: scale(0.9);
}

.search-bar button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;

}

.weather-icon {
  width: 120px;
  margin: 10px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
  color: #424141;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.details .humidity,
.details .wind {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details img {

  width: 40px;
  margin-bottom: 5px;
}

.details p {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}




/* Responsive Design */
@media (max-width: 450px) {
  .weather-app {
    width: 90vw;
  }

  .search-bar input {
    font-size: 14px;
  }

  marquee {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .weather-app {
    max-width: 40vw;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  .details p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .weather-app {
    max-width: 50vw;
    padding: 50px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  .details img {
    width: 60px;
  }

  .details p {
    font-size: 20px;
  }
}
